# Python
__pycache__/
*.pyc

# VS Code
.vscode/
.venv/

# OS
.DS_Store
Thumbs.db

# CmdStanPy & Prophet output
cmdstan-*

# Ignore generated plots
bike_rental_forecast/outputs/
!bike_rental_forecast/outputs/forecast_plot.png

